@media only screen and (max-width: 1600px) {
  .hero {
    height: 1400px;
    display: block;
    padding: 20px;
  }
  .hero__col1 {
    max-width: 100%;
    padding-top: 20px;
    padding-left: 50px;
  }
  .hero__col1--title {
    text-align: center;
  }
  .hero__col1--subtitle {
    text-align: center;
  }
  .hero__col1--butnrow {
    justify-content: center;
  }
  .hero__col2 {
    width: 100%;
    padding-top: 20px;
    padding-left: 200px;
  }
  .companies {
    max-width: 1000px;
    margin: 0px auto;
    margin-top: 60px;
  }
  .companies__namesimages1 {
    padding-right: 25.74px;
    padding-top: 42.92px;
  }
  .companies__namesimages2 {
    padding-right: 25.74px;
    padding-top: 52.18px;
  }
  .companies__namesimages3 {
    padding-right: 25.74px;
    padding-top: 42.92px;
  }
  .companies__namesimages4 {
    padding-right: 25.74px;
    padding-top: 54.44px;
  }
  .companies__namesimages5 {
    padding-right: 25.74px;
    padding-top: 43.69px;
  }
  .companies__namesimages6 {
    padding-right: 25.74px;
    padding-top: 32.93px;
  }
  .cloud__container--img {
    position: relative;
    width: 150px;
    height: 150px;
    left: 120px;
    top: -280px;
  }

  .skill {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 140px;
    height: 708px;
  }
  .skill__div {
    width: 1000px;
    height: 400px;
    margin-top: 80px;
  }

  .skill__div--1 {
    width: 430px;
    height: 400px;
    float: left;
    background-image: url("../Images/Rectangle19.png");
  }
  .skill__div--2 {
    width: 430px;
    height: 400px;
    float: right;
    background-image: url("../Images/Rectangle\ 21.png");
  }
  .skill__div--butn1 {
    width: 243px;
    margin-top: 17px;
    margin-left: 130px;
    height: 80px;
    border: 1px solid #ffffff;
    border-radius: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    background-color: transparent;
    text-align: center;

    color: #ffffff;
  }

  .video {
    max-width: 1200px;
    height: 512px;
    margin: 0 auto;
    margin-top: 160px;
    display: flex;
  }
  .video__col1 {
    padding-top: 64px;
    padding-left: 25px;
    max-width: 650px;
  }
  .video__col2 {
    padding-top: 20px;
    padding-left: 50px;
    max-width: 500px;
  }
  .video__col2--img {
    position: relative;
    left: 25px;
    top: -500px;
    width: 450px;
    height: 471.08px;
  }
  .video__col2--img-play {
    margin: 160px 150px;
  }
  .video__col2--orangebox {
    width: 231px;
    height: 231px;
    margin-top: 150px;
    margin-left: 270px;
    background: #f3ac50;
  }
  .features {
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    margin-top: 150px;
  }
  .features__one {
    display: block;
    flex-wrap: wrap;
  }

  .features__one--col1 {
    margin: 0 auto;
    margin-top: 156px;
    max-width: 800px;
  }
  .features__one--col2 {
    max-width: 1000px;
    padding-left: 0px;
    margin: 0 auto;
    margin-top: 127px;
  }
  .features__one--col2-list {
    display: flex;
    margin-top: 40px;
    padding-left: 60px;
  }
  .features__one--col2-title {
    width: auto;
    height: auto;
    text-align: center;
  }
  .features__one--col2-list-subtitle {
    padding-top: 12px;
    width: 803px;
    height: 85px;
  }
  .features__two {
    max-width: 1200.2px;
    margin: 0 auto;
    height: 611px;
    margin-top: 00px;
    display: block;
    flex-wrap: none;
  }
  .features__two--col3 {
    margin-top: 100px;
    max-width: 1000px;
    height: auto;
  }
  .features__two--col3-subtitle {
    width: auto;
    text-align: center;
  }
  .features__three {
    height: 651.5px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 160px;
  }
  .features__three--col5 {
    height: 651.5px;
    width: 400px;
  }
  .features__three--col6 {
    height: 651.5px;
    max-width: 500px;
    padding-top: 136px;
    padding-left: 40px;
  }
  .features__five--col10 {
    width: 700px;
    height: 499px;
    padding-top: 116px;
    padding-left: 40.76px;
  }
  .features__five--col10-title {
    width: auto;
    text-align: center;
    height: 128px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    color: #2f327d;
  }
  .integration {
    max-width: 1257px;
    height: 459px;
    margin: 0 auto;
    margin-top: 160px;
    display: flex;
  }
  .integration__col2 {
    width: 450px;
    height: 459px;
  }
  .integration__col {
    width: 600px;
    height: 459px;
  }
  .integration__col2--title {
    padding-top: 33px;
    margin-bottom: 30px;
    width: auto;
    text-align: center;
  }
  .integration__col1--onedrive {
    width: 208px;
    height: 195px;
    margin-right: 71px;
    margin-top: 12px;
  }
  .integration__col1--dropbox {
    width: 110px;
    height: 121px;
    margin-right: 300px;
    margin-top: 87px;
  }
  .integration__col1--drive {
    width: 118px;
    height: 135px;
    margin-right: 82px;
    margin-left: 79px;
    margin-top: 83px;
  }
  .integration__col1--teams {
    width: 139px;
    height: 159px;
    margin-right: 251px;
    margin-top: 92px;
    margin-left: 102px;
  }
  .integration__col2--butn {
    margin-left: 100px;
  }
  .testimonials {
    max-width: 1219px;
    height: 821px;
    margin: 0 auto;
    margin-top: 170px;
    display: block;
  }
  .testimonials__col1 {
    width: 1200px;
    height: auto;
  }
  .testimonials__col1-title {
    width: auto;
    text-align: center;
    height: auto;
  }
  .testimonials__col1-subtitle {
    width: auto;
    height: auto;
    text-align: center;
  }
  .testimonials__col1-butn {
    width: 403px;
    height: 80px;
    border: 1px solid #f48c06;
    border-radius: 80px;
    margin-top: 60px;
    margin-left: 600px;
    background-color: #ffffff;
  }
  .testimonials__col2 {
    width: 1000px;
    height: 821px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .news {
    max-width: 1557px;
    height: auto;
    margin: 0 auto;
    margin-top: 700px;
  }
  .news__box {
    display: block;
    margin-top: 80px;
  }
  .news__col1 {
    width: 1200px;

    height: auto;
  }
  .news__col1--title {
    width: auto;
    height: auto;
    text-align: center;
  }
  .news__col1--img1 {
    max-width: 1000px;
    margin-left: 300px;
  }
  .news__col1--a {
    margin-left: 300px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    /* identical to box height, or 36px */

    letter-spacing: 0.02em;
    text-decoration-line: underline;

    color: #696984;
  }
  .news__col2 {
    margin-top: 80px;
    width: 1200px;
    height: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .headerlist__navlist li a {
    text-decoration: none;
    padding: 0px 15px;
  }

  .hero {
    height: 1500px;
  }
  .hero__col2 {
    padding-left: 157px;
    max-width: 1037px;
  }
  .companies {
    max-width: 1000px;
    margin: 0px auto;
    margin-top: 60px;
  }
  .companies__names {
    display: flex;
    justify-content: center;
  }
  .companies__namesimages1 {
    margin-left: 10px;
    padding-right: 50.74px;
    padding-top: 42.92px;
    width: 140px;
  }
  .companies__namesimages2 {
    padding-right: 50.74px;
    width: 140px;
    padding-top: 52.18px;
  }
  .companies__namesimages3 {
    padding-right: 50.74px;
    width: 140px;
    padding-top: 42.92px;
  }
  .companies__namesimages4 {
    padding-right: 50.74px;
    width: 140px;
    padding-top: 54.44px;
  }
  .companies__namesimages5 {
    padding-right: 50.74px;
    width: 140px;
    padding-top: 43.69px;
  }
  .companies__namesimages6 {
    padding-right: 50.74px;
    width: 140px;
    padding-top: 32.93px;
  }
  .cloud {
    max-width: 1000px;
    height: auto;
    margin: 0px auto;
    margin-top: 160px;
  }
  .cloud__container {
    display: flex;
    height: auto;
    margin-top: 140px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cloud__container--img {
    position: relative;
    width: 150px;
    height: 150px;
    left: 160px;
    top: -280px;
  }
  .skill {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 158px;
    height: 708px;
  }
  .skill__subtitle {
    width: auto;
    padding: 0 20px;
    letter-spacing: 0.01em;
  }
  .skill__div {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .skill__div--1 {
    width: 420px;
    height: 400px;
    margin-left: 10px;
  }
  .skill__div--2 {
    margin-left: 10px;
    width: 420px;
    height: 400px;
    float: left;
  }
  .video {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-top: 140px;
    display: block;
  }

  .video__col1 {
    padding-top: 34px;

    max-width: 730px;
    margin: 0 auto;
  }
  .video__col2 {
    padding-top: 20px;
    height: 600px;
    max-width: 813px;
    margin: 0 auto;
  }
  .features {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
  }
  .features__one--col1 {
    max-width: 856px;
  }
  .features__one--col2-title {
    width: auto;
    height: auto;
    text-align: center;
  }
  .features__one--col1-img1 {
    height: auto;
    width: 856px;
  }
  .features__two {
    max-width: 1000px;
    margin: 0 auto;
    height: 611px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  .features__two--col4 {
    margin: 0 auto;
    height: auto;
    width: 637.2px;
  }
  .features__three {
    height: auto;
    width: 1000px;
    margin: 0 auto;
    display: block;
    margin-top: 450px;
  }
  .features__three--col5 {
    height: 651.5px;
    width: 810px;
    margin-left: 400px;
  }
  .features__four--col3-subtitle {
    width: 850px;
    height: auto;
    margin: 0 auto;
  }

  .features__three--col6 {
    height: auto;
    max-width: 800px;

    padding: 0 20px;
    padding-top: 36px;
  }
  .features__four {
    max-width: 1000px;
    height: 560px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
  }
  .features__four--col7 {
    width: 1000px;
    height: auto;
    padding-top: 22.72px;
    margin: 0 auto;
  }
  .features__four--col7-txt1 {
    width: 850px;
    height: auto;
    text-align: center;
  }
  .features__four--col8 {
    height: auto;
    width: 808.32px;
    margin: 0 auto;
  }
  .features__five {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-top: 260px;
    display: block;
  }
  .features__five--col9 {
    width: 850px;
    height: 499px;
  }
  .features__five--col10 {
    width: 850px;
    height: 499px;
    padding-top: 116px;
  }
  .features__butn {
    margin: 0 auto;
    margin-top: 0px;
  }
  .integration {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-top: 80px;
    display: block;
  }
  .integration__col2 {
    width: 850px;
    height: 459px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .integration__col1 {
    width: 850px;
    height: 459px;
    margin-left: 80px;
  }
  .integration__col1-row1 {
    display: flex;
    justify-content: center;
  }
  .integration__col2--butn {
    margin-top: 20px;
    margin-left: 300px;
  }
  .testimonials {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-top: 70px;
    display: block;
  }
  .testimonials__col1 {
    width: 850px;
    height: 821px;
  }
  .testimonials__col2 {
    width: 850px;
    height: 821px;
  }
  .testimonials__col1-butn {
    margin-left: 300px;
  }
  .testimonials__col2--img {
    height: 700px;
    width: 560px;
    margin-left: 50px;
    margin-right: 256px;
  }
  .testimonials__col2--card {
    width: 680px;
    position: relative;
    height: 329px;
    left: 180px;
    top: -210px;
  }
  .news {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
  .news__box {
    display: block;
    margin-top: 100px;
  }
  .news__col1 {
    width: 850px;
    height: 690px;
  }
  .news__col2 {
    width: 850px;
    height: 690px;
  }
  .news__col1--img1 {
    max-width: 1000px;
    margin-left: 100px;
  }
  .news__col1--a {
    margin-left: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    /* identical to box height, or 36px */

    letter-spacing: 0.02em;
    text-decoration-line: underline;

    color: #696984;
  }
  .news__col1--img2 {
    margin-top: 40px;
    margin-left: 100px;
  }
  .news__col1--title {
    width: auto;
    height: auto;
    text-align: start;
    margin-left: 100px;
  }
}

@media only screen and (max-width: 850px){
    .headerlist__navlist li a {
        text-decoration: none;
        padding: 0px 5px;
      }
    
      .hero {
        height: 1500px;
      }
      nav{
          display: none;
      }
      .headerlist__menuimage {
        margin-top: 30px;
        height: 30px;
        width: 30px;
        margin-right: 100px;
        
        display: inline;
        cursor: pointer;
      }
      .hero__col2 {
        padding-left: 10px;
        max-width: 1037px;
      }
      .hero__col2--calender {

        display:none;
      }
      .hero__col2--bars {
        display: none;
      }
      .hero__col2--congrats {
display: none;
      }
      .hero__col2--rect {
display:none;
      }

      .companies {
        max-width: 700px;
        margin: 0px auto;
        margin-top: 40px;
      }
      .companies__names {
        display: flex;
        justify-content: center;
      }
      .companies__namesimages1 {
        margin-left: 10px;
        padding-right: 40.74px;
        padding-top: 42.92px;
        width: 120px;
      }
      .companies__namesimages2 {
        padding-right: 40.74px;
        width: 120px;
        padding-top: 52.18px;
      }
      .companies__namesimages3 {
        padding-right: 40.74px;
        width: 120px;
        padding-top: 42.92px;
      }
      .companies__namesimages4 {
        padding-right: 40.74px;
        width: 120px;
        padding-top: 54.44px;
      }
      .companies__namesimages5 {
        padding-right: 40.74px;
        width: 120px;
        padding-top: 43.69px;
      }
      .companies__namesimages6 {
        padding-right: 40.74px;
        width: 120px;
        padding-top: 32.93px;
      }
      .cloud {
        max-width: 700px;
        height: auto;
        margin: 0px auto;
        margin-top: 100px;
      }
      .cloud__container {
        display: flex;
        height: auto;
        margin-top: 140px;
        justify-content: center;
        flex-wrap: wrap;
      }
      .cloud__container--img {
        position: relative;
        width: 150px;
        height: 150px;
        left: 160px;
        top: -280px;
      }
      .skill {
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 158px;
        height: 708px;
      }
      .skill__subtitle {
        width: auto;
        padding: 0 20px;
        letter-spacing: 0.01em;
      }
      .skill__div {
        width: 1000px;
        height: auto;
        margin: 0 auto;
        margin-top: 80px;
      }
      .skill__div--1 {
        width: 500px;
        height: 400px;
        margin-top: 200px;
        margin-left: 60px;
        float: none;
      }
      .skill__div--2 {
        margin-left: 10px;
        width: 500px;
        height: 400px;
        float: none;
        margin-top: 20px;
        margin-left: 60px;
        
        
      }
      .video {
        max-width: 1000px;
        height: auto;
        margin: 0 auto;
        margin-top: 600px;
        display: block;
      }
    
      .video__col1 {
        padding-top: 34px;
    
        max-width: 600px;
        margin: 0 auto;
      }
      .video__col1--subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        /* or 43px */
      
        letter-spacing: 0.01em;
        width: 600px;
        padding-top: 30px;
        height: 172px;
        color: #696984;
      }
      .video__col2 {
        padding-top: 20px;
        height: 600px;
        max-width: 600px;
        margin: 0 auto;
      }
      .features {
        max-width: 1000px;
        height: auto;
        margin: 0 auto;
      }
      .features__one--col1 {
        max-width: 856px;
      }
      .features__one--col2-title {
        width: auto;
        height: auto;
        text-align: center;
      }
      .features__one--col1-img1 {
        height: auto;
        width: 600px;
        margin-left: 50px;
      }
      .features__two {
        max-width: 1000px;
        margin: 0 auto;
        height: 611px;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
      }
      .features__two--col4 {
        margin: 0 auto;
        height: auto;
        width: 600.2px;
      }
      .features__three {
        height: auto;
        width: 1000px;
        margin: 0 auto;
        display: block;
        margin-top: 450px;
      }
      .features__two--col4img{
        width: 600.2px;
      }
      .features__three--col5 {
        height: 651.5px;
        width: 600px;
        margin-left: 400px;
      }
      .features__three--col5-img{
        width: 600px;
      }
      .features__four--col3-subtitle {
        width: 600px;
        height: auto;
        margin: 0 auto;
      }
    
      .features__three--col6 {
        height: auto;
        max-width: 600px;
    
        padding: 0 20px;
        padding-top: 36px;
      }
      .features__four {
        max-width: 1000px;
        height: 560px;
        margin: 0 auto;
        margin-top: 20px;
        display: block;
      }
      .features__four--col7 {
        width: 600px;
        height: auto;
        padding-top: 22.72px;
        margin: 0 auto;
      }
      .features__four--col7-txt1 {
        width: 600px;
        height: auto;
        text-align: center;
      }
      .features__four--col8 {
        height: auto;
        width: 600.32px;
        margin: 0 auto;
      }
      .features__five {
        max-width: 600px;
        height: auto;
        margin: 0 auto;
        margin-top: 260px;
        display: block;
      }
      .features__five--col9 {
        width: 600px;
        height: 499px;
      }
      .features__five--col9-img{
        width: 600px;
      }
      .features__five--col10 {
        width: 600px;
        height: 499px;
        padding-top: 116px;
      }
      .features__butn {
        margin: 0 auto;
        margin-top: 0px;
      }
      .integration {
        max-width: 700px;
        height: auto;
        margin: 0 auto;
        margin-top: 80px;
        display: block;
      }
      .integration__col2 {
        width: 600px;
        height: 459px;
        margin: 0 auto;
        margin-top: 40px;
      }
      .integration__col1 {
        width: 600px;
        height: 459px;
        margin-left: 80px;
      }
      .integration__col1-row1 {
        display: flex;
        justify-content: center;
      }
      .integration__col2--butn {
        margin-top: 20px;
        margin-left: 150px;
      }
      .testimonials {
        max-width: 700px;
        height: auto;
        margin: 0 auto;
        margin-top: 70px;
        display: block;
      }
      .testimonials__col1 {
        width: 600px;
        height: 821px;
      }
      .testimonials__col2 {
        width: 600px;
        height: 821px;
      }
      .testimonials__col1-butn {
        margin-left: 100px;
      }
      .testimonials__col2--img {
        height: 700px;
        width: 560px;
        margin-left: 30px;
        margin-right: 256px;
      }
      .testimonials__col2--card {
        width: 680px;
        position:fixed;
        display:none;
        height: 329px;
        left: 180px;
        top: -210px;
      }
      .news {
        max-width: 700px;
        height: auto;
        margin: 0 auto;
        margin-top: 40px;
      }
      .news__box {
        display: block;
        margin-top: 100px;
      }
      .news__col1 {
        width: 600px;
        height: 690px;
      }
      .news__col2 {
        width: 600px;
        height: 690px;
      }
      .news__col1--img1 {
        max-width: 600px;
        margin-left: 1px;
      }
      .news__col2--rect {
        width: 600px;
        height: 200px;
        display: flex;
        margin: 0 auto;
      }
      .news__col2--rect-col {
        width: 300px;
        height: 200px;
        margin-left: 40px;
      }
      .news__col2--rect-img{
width: 130px;
      }
      .news__col1--a {
        margin-left: 100px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 180%;
        /* identical to box height, or 36px */
    
        letter-spacing: 0.02em;
        text-decoration-line: underline;
    
        color: #696984;
      }
      .news__col1--img2 {
        margin-top: 40px;
        margin-left: 100px;
      }
      .news__col1--title {
        width: auto;
        height: auto;
        text-align: start;
        margin-left: 100px;
      }

}