* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../images/floor3.jpg");
}
/* #gameframe{
    height: 400px;
    width:90%;
    margin: 0 auto;
    margin-top: 20px;
   
    position: relative;
} */
#assetsloader {
  text-align: center;
  font-size: 80px;
  width: 100%;
  height: 500px;
  padding-top: 300px;
  color: white;
}
#gamemenu {
  height: 100vh;
  width: 100%;
  display: none;
  background-image: url("../images/wallpaper.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  padding-left: 20px;
}
#gamebox {
  height: 80vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
#scorecard {
  height: 13vh;
  width: 100%;
  display: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
#scorecard__scorebox {
  width: 22%;
  height: 11vh;
  position: absolute;
  left: 14%;
  display: flex;
  padding: 12px;
}
#scorecard__logo {
  width: 20%;
  height: 13vh;
  position: absolute;
  padding: 1px;
  right: 14%;
  background-image: url("../images/logo5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#scorecard__scorebox--ballProfile {
  height: 60px;
  width: 100px;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
}
#scorecard__scorebox--profile {
  height: 50px;
  width: 500px;
}
#scorecard__scorebox--profile--txt {
  font-size: 24px;
  font-weight: bold;
  height: 28px;
  color: aliceblue;
  padding-left: 5px;
}
#scorecard__scorebox--profile--balllist {
  margin-top: 2px;
  width: 100%;
  height: 30px;
  display: flex;
}
.menu__item {
  width: 16rem;
  margin-left: 60px;
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  padding:1px 10px;
  padding-top: 108px;
  padding-left: 60px;

  color: white;
  border-radius: 20px;
  cursor: pointer;
 background-image: url("../images/MvsC.png");
 background-position: center;
 background-size: cover;
 opacity: 0.6;
}
.menu__item:hover {
  opacity: 1;
  
}
