.logo {
  float: left;
  width: 191px;
height: 45px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 30px;



color: #4E42D9;

}
.navlist {
  float: right;
  list-style-type: none;
  overflow: hidden;
}
.navlist li {
  display: inline;
  padding: 0px 20px;
  align-content: center;
  width: 67px;
height: 24px;

/* Base */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* Body / Paragraph */

color: #797979;
}
.butnnav {
  background-color: #7749f8;
  border: none;
  color: white;

 border-radius: 4px;
  text-align: center;
  text-decoration: none;
  padding: 16px 30px;
  gap: 10px;
  
  width: 126px;
  height: 50px;
  cursor: pointer;
}
.butnnav.explorebtn{
  background-color: #4E42D9;
  border-radius: 4px;
  width: 189px;
  height: 50px;
  padding: 16px 30px;
}
.butnnav.about{

  padding: 16px 30px;
  gap: 10px;
  
  width: 133px;
  height: 50px;
  
  background: rgba(78, 66, 217, 0.18);
  border-radius: 4px;
}
.buttontext{
  width: 129px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 110%;

color: #FFFFFF;
}
.buttontextabout{
  width: 73px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 110%;



color: #4E42D9;
}
.homemain{
    padding: 60px;
   
}
.buttonmain{
float: left;

}

.homecol1{
  float: left;
    width: 500px;
    height: 578px;
    padding: 20px 0px;
   
    
}
.homecol2{
  padding-left:122px ;
   float: left;
    width: 578px;
    height: 130px;

 
    
}
.textstyletitle{
  
  
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 130%;
    
}
.textstylesubtitle{
    font-size: 18px;
    color: grey;
    padding: 10px;
}
.whatwedo{
  padding-top: 72px;

}
.blog{
  position: absolute;
  width: 196px;
  height: 57px;
  left: 605px;
  top: 782px;
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 32px;
color: #3B3950;
}
.card{
  float: left;
width: 285px;
height: 216px;

}
.cardlist{
  float: left;
  padding: 0px;
gap: 20px;

position: absolute;
width: 1200px;
height: 216px;
left: 120px;
top: 879px;

}
.boxlogo{
  position: relative;
  width: 91px;
  height: 90px;
  left: 97px;
  top: 0px;
  
  background: #FFF2F2;
  border-radius: 20px;
}
.boxlogo.two{
  background: #E2F3FF;
}
.boxlogo.three{
  background: #FDFBDA;
}
.boxlogo.four{
  background: #FFE7FB;
}
.smallbox{
  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FF4E4E;
}
.cardtitle{
  margin-top: 24px;
  width: 285px;
height: 38px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 150%;


text-align: center;
letter-spacing: 0.01em;


color: #3B3950;


}
.cardsubtitle{
  margin-top: 8px;
  width: 285px;
height: 56px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;
letter-spacing: 0.01em;

color: #797979;


}
.blog{
clear: left;
  position: absolute;
  width:1349px;
  height: 90px;
  left: 0px;
  top: 1190px;
  
  background: #F8F8F8;
}
.blogheading{
  position: absolute;
  width: 559px;
  height: 101px;
  left: 440px;
  top: 120px;
  
}
.blogtitle{
  width: 73px;
height: 45px;
display: inline;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 140%;
letter-spacing: 0.01em;
text-align: center;
color: #3B3950;

}
.blogsubtitle{
  width: 559px;
height: 48px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;


text-align: center;
letter-spacing: 0.01em;

/* Body / Paragraph */

color: #797979;
}
.bloglist{
  padding: 0px;
  gap: 20px;
  
  position: absolute;

  height: 479px;
  left: 0px;
  top:260px;
  
}
.blogcard{
  margin: 0px 50px;
  float: left;
  height: 450px;
  width:350.67px;
}
.img{
  width: 386.67px;
height: 281px;
border-radius: 4px;
background-image: url("assets/thumbnail-lasetnet.jpg");
object-fit: fill;
}
.date{
  margin-top: 12px;
  width: 129px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px; 
line-height: 140%;
text-align: start;

color: #797979;


}
.blogt1{
  margin-top: 12px;
  width: 257px;
height: 25px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 140%;
/* or 25px */

letter-spacing: 0.01em;

/* Body / Title */
text-align: start;
color: #3B3950;
}
.blogt2{
  margin-top: 8px;
  width: 386.67px;
height: 120px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: start;
/* or 24px */

letter-spacing: 0.01em;



color: #797979;

}
.viewbutton{
  padding: 16px 30px;
gap: 10px;

position: absolute;
width: 125px;
height: 50px;
left: 620px;
top: 1980px;

background: #4E42D9;
border-radius: 4px;
}
.viewbuttontext{
  width: 65px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 110%;

color: #FFFFFF;

}
.footersection{
  position: absolute;
left: 0%;
right: 0%;
top: 320%;
bottom: 0%;

height:342px;
background: #292838;

}
.footer1{
  padding: 0px;
gap: 12px;
height: 129px;
width: 398px;
position: relative;
left: 8.19%;
right: 64.17%;
top: 18.09%;
bottom: 49.5%;
float: left;
}
.footer1text1{
  width: 195px;
height: 45px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 45px;
/* identical to box height */


color: #FFFFFF;
}
.footer1text2{
  width: 398px;
height: 72px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */


color: rgba(255, 255, 255, 0.8);
}
.footer2{
  
  padding: 0px;
gap: 89px;

position: absolute;
width: 521px;
height: 198px;
left: 730px;
top: 72px;
}
.fabout{
  width: 90px;
  height: 198px;
  float: left;
}
.faboutt1{
  width: 100px;
height: 20px;
margin-bottom: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 110%;
/* identical to box height, or 20px */

text-transform: uppercase;

color: #FFFFFF;
}
.fabouttsubtitle{
  width: 49px;
height: 18px;
margin-bottom: 16px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 110%;
/* identical to box height, or 18px */


color: rgba(255, 255, 255, 0.8);
}
.fcustomers{
  margin-left: 89px;
  float: left;
  width: 111px;
  height: 198px;
}
.fsupport{
  width: 142px;
  height: 198px;
  float: left;
  margin-left:89px ;
}

.footertext{
  position: absolute;
left: 42.57%;
right: 42.64%;
top: 30.7%;
bottom: 4.27%;
clear: left;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */


color: rgba(255, 255, 255, 0.8);
}