<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Blog</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="navlist">
          <div class="logo">NEWS BLOG</div>
        </ul>
      </nav>
    </header>
    <section id="news">
      <div id="newsarticle"></div>
      <div id="formfield">
        <input
          type="text"
          class="titleinput"
          id="title"
          name="title"
          placeholder="Title"
        />

        <textarea
          id="content"
          name="content"
          placeholder="Write something.."
          style="height: 200px; width: 80%; padding: 10px; font-size: 20px"
        ></textarea>

        <input class="butn" type="submit" value="Submit" />
      </div>
    </section>
  </body>
  <script src="/script.js"></script>
</html>
